html{
    background-color: antiquewhite;
}

.header{
    text-align: center;
    font-size: 45px;
    
}

.main{
    margin-bottom: 60px;
}


#mainTitle{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

button{
    border-radius: 10px;
    border-width: 1px;
    font-size: 15px;
    margin: 1px;
    display: inline;
}

button:hover{
    background-color: rgb(158, 149, 149);
}



#toDoContainer{
    display:inline;
    margin-bottom: 5px;
}

.toDoListTitle{
    text-align: center;
    font-size: 20px;
}

#lastUpdate{
    text-align: center;
    margin-top: 5px;
}

#cDate{
    text-align: center;
    margin-bottom: 5px;
}



#toDoListPageTitle{
    text-align: center;
}


.footer{
    width: 100%;
    position: fixed;
    color: black;
    background-color: whitesmoke;
    text-align: center;
    bottom: 0;
    margin-top: 10px;
}

p{
    margin: 0px;
}


.clear{
    clear:both;
    
}


.toDoPackage{
    width: 24.5%;
    margin-right: 2px;
    float: left;
    border-radius: 30px;
    border: 2px solid black;
    margin-bottom: 10px;
    padding: 5px;
   
}

.toDoPackageLink{
    list-style: none;
    color: black;
    text-decoration: none;
}

#toDoInternalPackage:hover{
    background-color: rgb(206, 194, 194);
    border-radius: 30px;
}

.everyToDo{
    font-size: 20px;
    margin-bottom: 10px;
  
}

.List{
    width: fit-content;
}

.List:hover{
    background-color: rgb(206, 194, 194);
}

#add-button{
    margin-bottom: 10px;
}

@media only screen and (max-width: 600px){
    
    .header{
        text-align: center;
    }
    .toDoPackage{
        width: 50%;
        margin-right: 2px;
        float: left;
        border-radius: 30px;
        border: 2px solid black;
        margin-bottom: 10px;
    }

    #toDoListInput{
        width: 30%;
    }

    .toDoPackage{
        margin-left: 25%;
    }

    #loadAddToDo{
        margin-left: 25%;
    }

}